<%- include('head') -%>
<div class="container-fluid">
    <div class="row">
        <%- include ('sidebar') -%> 
        <div class="col-sm-10">
            <!-- CONTENT GOES HERE! -->
        </div>
    </div>
</div>