<div class="col-sm-2">
    <ul class="sidebar__nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/books">All Books</a></li>
    <li><a href="/catalog/authors">All Authors</a></li>
    <li><a href="/catalog/genres">All Genres</a></li>
    <li><a href="/catalog/bookinstances">All Book Instances</a></li>
    <hr>
    <li><a href="/catalog/author/create">Create new Author</a></li>
    <li><a href="/catalog/genre/create">Create new Genre</a></li>
    <li><a href="/catalog/book/create">Create new Book</a></li>
    <li><a href="/catalog/bookinstance/create">Create new book instance (copy)</a></li>
    </ul>
</div>